networkx==2.5
osmnx==1.0.1
numpy==1.19.2
mlflow==1.13.1
pandas==1.2.1
torch==1.7.1
torch_geometric==1.6.3
dataclasses==0.6
gym==0.18.0
tabulate==0.8.7
matplotlib==3.3.4
tqdm==4.56.0
sacred==0.8.2
scikit_learn==0.24.1
