numpy==1.19.2
sacred==0.8.2
dataclasses==0.6
matplotlib==3.3.4
torch==1.7.1
osmnx==1.0.1
tabulate==0.8.7
networkx==2.5
tqdm==4.56.0
torch_geometric==1.6.3
mlflow==1.13.1
gym==0.18.0
pandas==1.2.1
scikit_learn==0.24.1
